img {
  vertical-align: middle;
}
body {
  font-size: 0.14rem;
  line-height: 0.14rem;
  height: 100vh;
  padding: 0.45rem 0;
  background: #fff;
}
#main {
  /* 会在main里面添加一个区域滚动容器 MUI自带了绝对定位 可以main设置相对定位 让 mui-scroll-wrapper相对main去定位 */
  position: relative;
  /* 同时需要给main设置高度100% 让main在中间范围显示 继承body内容的高度 */
  height: 100%;
}
* {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
a {
  color: #000;
}
input {
  font-size: 0.14rem;
}
/* 头部 */
#header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  display: flex;
  text-align: center;
  line-height: 0.45rem;
  background: #006699;
}
#header .left {
  width: 0.45rem;
  height: 0.45rem;
  line-height: 0.45rem;
  text-align: center;
  color: #fff;
}
#header h4 {
  line-height: 0.45rem;
  flex: 1;
  margin: 0;
  font-weight: normal;
  color: #fff;
}
#header form {
  flex: 1;
  margin: 0;
}
#header form input {
  margin-bottom: 0;
  background: #fff;
  text-align: left;
}
#header .right {
  width: 0.45rem;
  height: 0.45rem;
  line-height: 0.45rem;
  color: #fff;
}
/* 底部 */
#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  background: #006699;
  height: 0.45rem;
  width: 100%;
  z-index: 999;
}
#footer a {
  display: block;
  font-size: 0.14rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 0.45rem;
}
#footer a.active {
  color: #ffa500;
}
/* 搜索框 */
.search {
  padding: 0.1rem;
}
.search form {
  display: flex;
  border: 1px solid #007aff;
  border-radius: 0.06rem;
}
.search form input {
  flex: 1;
  margin: 0;
  text-align: left;
  background-color: #fff;
  font-size: 0.14rem;
  border-radius: 0.06rem 0 0 0.06rem;
  border: 0;
}
.search form button {
  border-radius: 0 0.03rem 0.03rem 0;
  border: none;
}
#mask {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 997;
  background-color: #ccc;
}
.spinner {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  position: fixed;
}
.container1 > div,
.container2 > div,
.container3 > div {
  width: 12px;
  height: 12px;
  background-color: skyblue;
  border-radius: 100%;
  position: absolute;
  animation: bouncedelay 1.2s infinite ease-in-out;
  animation-fill-mode: both;
}
.spinner .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}
.container2 {
  transform: rotateZ(45deg);
}
.container3 {
  transform: rotateZ(90deg);
}
.circle1 {
  top: 0;
  left: 0;
}
.circle2 {
  top: 0;
  right: 0;
}
.circle3 {
  right: 0;
  bottom: 0;
}
.circle4 {
  left: 0;
  bottom: 0;
}
.container2 .circle1 {
  animation-delay: -1.1s;
}
.container3 .circle1 {
  animation-delay: -1s;
}
.container1 .circle2 {
  animation-delay: -0.9s;
}
.container2 .circle2 {
  animation-delay: -0.8s;
}
.container3 .circle2 {
  animation-delay: -0.7s;
}
.container1 .circle3 {
  animation-delay: -0.6s;
}
.container2 .circle3 {
  animation-delay: -0.5s;
}
.container3 .circle3 {
  animation-delay: -0.4s;
}
.container1 .circle4 {
  animation-delay: -0.3s;
}
.container2 .circle4 {
  animation-delay: -0.2s;
}
.container3 .circle4 {
  animation-delay: -0.1s;
}
@keyframes bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
