img {
  vertical-align: middle;
}
body {
  font-size: 0.14rem;
  line-height: 0.14rem;
  height: 100vh;
  padding: 0.45rem 0;
  background: #fff;
}
* {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
a {
  color: #000;
}
input {
  font-size: 0.14rem;
}
/* 头部 */
#header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  display: flex;
  text-align: center;
  line-height: 0.45rem;
  background: #006699;
}
#header .left {
  width: 0.45rem;
  height: 0.45rem;
  line-height: 0.45rem;
  text-align: center;
  color: #fff;
}
#header h4 {
  line-height: 0.45rem;
  flex: 1;
  margin: 0;
  font-weight: normal;
  color: #fff;
}
#header form {
  flex: 1;
  margin: 0;
}
#header form input {
  margin-bottom: 0;
  background: #fff;
  text-align: left;
}
#header .right {
  width: 0.45rem;
  height: 0.45rem;
  line-height: 0.45rem;
  color: #fff;
}
/* 底部 */
#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  background: #006699;
  height: 0.45rem;
  width: 100%;
  z-index: 999;
}
#footer a {
  display: block;
  font-size: 0.14rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 0.45rem;
}
#footer a.active {
  color: #ffa500;
}
/* 搜索框 */
.search {
  padding: 0.1rem;
}
.search form {
  display: flex;
  border: 1px solid #007aff;
  border-radius: 0.06rem;
}
.search form input {
  flex: 1;
  margin: 0;
  text-align: left;
  background-color: #fff;
  font-size: 0.14rem;
  border-radius: 0.06rem 0 0 0.06rem ;
  border: 0;
}
.search form button {
  border-radius: 0 0.03rem 0.03rem 0;
  border: none;
}
#main .btn-code {
  position: absolute;
  right: 0;
  top: 0.01rem;
  width: auto;
}
#main .btn-register {
  width: 100%;
}
#main .mui-button-row:last-child {
  padding: 10px 10px;
  height: auto;
}
